<%- include('layouts/header'); -%>


    <body>
        <header>
            <img src="" alt="">
            <h1>Sales Tax</h1>
        </header>
        <%- include('layouts/nav'); -%>

            <main>
                <section>
                    <p>
                        Here are Taxation, we have created a simple website the helps you calculate the tax of your sales wherever you are in Canada. This is to make it easier for you to shop by eliminating the need for calculations that distract you from shopping
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eaque reprehenderit praesentium aperiam. Molestias recusandae sint ut libero voluptatibus sequi, ad soluta, quibusdam sed modi similique quia. Quos cupiditate magni,
                        obcaecati iure illum est cumque sapiente sint. Animi architecto pariatur excepturi laborum sapiente, consectetur vero, quis ut culpa placeat aspernatur explicabo libero dolorem facere inventore recusandae ratione eius voluptas
                        quasi reprehenderit incidunt iste quod dignissimos. Fugiat nostrum assumenda rerum quaerat eum. Autem reiciendis officiis praesentium consectetur quisquam omnis qui rem suscipit odio sequi vitae, pariatur nobis mollitia harum consequuntur
                        facere minus assumenda voluptatem optio asperiores, illo vero velit! Iste, quos eveniet? Id tempora error et animi suscipit totam inventore amet, laborum placeat commodi ipsa modi est cumque iste harum aperiam tenetur rem consequatur
                        aut minus sapiente repudiandae dolorum praesentium? Inventore, iusto recusandae! Qui repudiandae delectus accusantium voluptates numquam cumque, at, veritatis modi eum perferendis maiores voluptatum ipsa iste a error.</p>
                </section>
            </main>
    </body>

    </html>