<%- include('layouts/header'); -%>

    <body>

        <header>
            <img src="" alt="">
            <h1>Sales Tax</h1>
        </header>

        <%- include('layouts/nav'); -%>
            <main>
                <section>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad fuga libero culpa at repellat magnam tempora nisi repudiandae laudantium? Commodi dolorem quidem quas dolore dolorum vero neque, quia enim voluptatum, reprehenderit voluptas
                        doloremque officia laboriosam explicabo amet omnis nam corrupti necessitatibus laborum eos voluptate asperiores culpa eveniet? Voluptate voluptatibus laudantium fugit. Ratione incidunt laborum pariatur? Quibusdam ipsum libero laudantium
                        mollitia quaerat inventore ad. Rem odit nihil nemo facilis nulla provident! Dolorem enim numquam, eaque suscipit veniam, tempore natus, non rem dolorum optio excepturi sunt odio consectetur ipsam commodi. Eveniet nostrum inventore
                        velit voluptatem assumenda natus sed hic odit harum reprehenderit. Corporis quos nostrum perferendis minus dolorem, rerum repellat error esse molestias libero ad? Quia expedita dolores, reiciendis exercitationem animi, reprehenderit
                        vitae totam laudantium ipsam beatae impedit, aut nisi molestiae cumque sequi alias modi eum possimus nostrum quae minus! Maiores architecto, dolore veniam eos similique incidunt mollitia saepe quisquam minus vero.</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad fuga libero culpa at repellat magnam tempora nisi repudiandae laudantium? Commodi dolorem quidem quas dolore dolorum vero neque, quia enim voluptatum, reprehenderit voluptas
                            doloremque officia laboriosam explicabo amet omnis nam corrupti necessitatibus laborum eos voluptate asperiores culpa eveniet? Voluptate voluptatibus laudantium fugit. Ratione incidunt laborum pariatur? Quibusdam ipsum libero laudantium
                            mollitia quaerat inventore ad. Rem odit nihil nemo facilis nulla provident!</p>
                </section>
            </main>
    </body>

    </html>